@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500&family=Montserrat:wght@500&family=Roboto&family=Roboto+Mono:wght@300&family=Roboto+Slab&display=swap');

/* Box sizing rules + margin / padding reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */

:root {
  --clr-bg-one: rgba(235, 240, 243, 1);
  --clr-bg-two: rgba(241, 245, 248, 1);
  --clr-bg-header: rgba(0, 0, 0, 1);
  --clr-bg-sidebar: rgb(209, 211, 212);

  --clr-neutral: rgba(255, 255, 255, 1);

  --clr-font-one: rgba(23, 60, 94, 1);
  --clr-font-two: rgba(0, 0, 0, 1);
  --clr-font-three: rgba(51, 51, 51, 1);

  --svg-filter-black: invert(100%) sepia(0) saturate(1) hue-rotate(0) brightness(0) contrast(100%);
  --clr-box-shadow: rgba(0, 0, 0, 0.13);

  --ff-primary: "Roboto", sans-serif;

  --clickable-cursor: pointer;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 3.5rem;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --header-icon-size: 2rem;
  --clr-icon-hover: rgba(235, 240, 243, 1);
  --icon-rotate: rotate(90deg);
  --icon-rotate-back: rotate(0deg);
  --header-height: min(10vh, 3rem);

  --sidebar-width: 25rem;
  --clr-sidebar-box-shadow: rgba(109,109,109,0.66);

  /*--------------------------------------Create Grid for Main Background----*/

  --main-bg-linear-gradient: 
  linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
  linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
  linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
  linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
  linear-gradient(-90deg, #aaa 1px, transparent 1px),
  linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
  linear-gradient(#aaa 1px, transparent 1px),
  #f2f2f2;

  --main-bg-size: 
  4px 4px,
  4px 4px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px,
  80px 80px;

}

/*------------------------------------------Main------------------------------*/

body{
    background-color: var(--clr-bg-one);
  }

/*-------------------------------------General-Styling-------------------------*/

/*-----------------------------------------Header------------------------------*/

.header-main {
    height: var(--header-height);
    background-color: var(--clr-bg-header);
    z-index: 5;
}

.header-inner {
  margin-left: auto;
  width: var(--sidebar-width);
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.header-inner > * {
  margin: 0 1rem 1rem 0;
}

.settings-outline {
    color: var(--clr-neutral);
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    cursor: var(--clickable-cursor);
    -webkit-transform: var(--icon-rotate);
    -moz-transform: var(--icon-rotate);
    -ms-transform: var(--icon-rotate);
    -o-transform: var(--icon-rotate);
    transform: var(--icon-rotate);
    transition: 0.4s;
}

.settings-outline:hover {
    color: var(--clr-icon-hover);
    -webkit-transform: var(--icon-rotate-back);
    -moz-transform: var(--icon-rotate-back);
    -ms-transform: var(--icon-rotate-back);
    -o-transform: var(--icon-rotate-back);
    transform: var(--icon-rotate-back);
}

.available-devices-outline {
  color: var(--clr-neutral);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  cursor: var(--clickable-cursor);
}

.available-devices-outline:hover {
  color: var(--clr-icon-hover);
}


/*-----------------------------------------Sidebar------------------------------*/

.sidebar {
    width: var(--sidebar-width);
    padding: 1rem;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    left: calc(100% - var(--sidebar-width));
    -webkit-box-shadow: -5px 1px 6px -1px var(--clr-sidebar-box-shadow); 
    box-shadow: -5px 1px 6px -1px var(--clr-sidebar-box-shadow);
    background-color: var(--clr-bg-sidebar);
    text-align: center;
    line-height: rem;
}

/*-----------------------------------------Main---------------------------------*/

.main {
    height: calc(100vh - var(--header-height));
    width: calc(100% - var(--sidebar-width));
    background: var(--main-bg-linear-gradient);
    background-size: var(--main-bg-size);
}

.draggableSpace {
  position: relative;
}

/*-----------------------------------Sensor-Icons--------------------------------*/

.draggableIcon {
  width: 50px;
  height: 50px;  
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  cursor: var(--clickable-cursor);
}

.draggableIcon img {
  filter: var(--svg-filter-black);
}

/*.draggableIcon:hover {
  cursor: move;
}*/

.draggableIcon:hover > .device-position-span {
  color: var(--clr-font-two);
  background-color: var(--clr-bg-one);
  padding: 0.1rem;
  transition: 0 0.1s;
}

.device-position-span {
  color: transparent;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}

/*-------------------------------------Available Devices------------------------*/

.available-devices {
  display: none;
  position: fixed;
  z-index: 4;
  width: min(50%, 30rem);
  height: min(75%, 40rem);
  background-color: var(--clr-neutral);
  top: 50%;
  left: calc(50% - (var(--sidebar-width) / 2));
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  overflow: auto;
  scrollbar-width: none;
}

.available-devices-close {
  color: var(--clr-font-two);
  width: var(--header-icon-size);
  height: var(--header-icon-size);
  cursor: var(--clickable-cursor);
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
  margin-left: auto;
  margin-right: 1.25rem;
  margin-top: 1rem;
  display: flex;
  align-items: top;
}

.available-devices-inner {
  height: 80%;
  padding: 0 1rem 0 1rem;
}

.available-devices-inner :is(h3) {
  text-align: center;
  font-size: var(--fs-700);
}

.device-list-item{
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  -webkit-box-shadow: 8px 17px 20px 0px var(--clr-box-shadow); 
  box-shadow: 8px 17px 20px 0px var(--clr-box-shadow);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  cursor: var(--clickable-cursor)
}

.device-list-item:hover {
  background-color: var(--clr-bg-two);
}

.device-list-item img {
  position: absolute;
  filter: var(--svg-filter-black);
  top: 10%;
  right: 10%;
  width: 25px;
}

.device-list-item-mini-describtion {
  font-weight: var(--fw-regular);
  display: flex;
  font-size: var(--fs-400);
}

.device-list-item-mini-describtion > p {
  margin-right: 1rem;
}

/*--------------------------------------Utility-Classes-------------------------*/

.flex {
    display: flex;
}

.absolute {
    position: absolute;
}